@import url("http://fonts.googleapis.com/css?family=Syncopate");
/* GENERAL */
@font-face {
   font-family: Verdana, Arial, sans-serif;
   font-weight: normal;
   font-style: normal;
}

body{
   font-family: Verdana, Arial, sans-serif;
   font-style: normal;
   /*font-size: 13px;*/
   line-height: 1.2em;
   color: black;   
}

/* ###### HEADINGS ######  */
h2,h4,h5,h6 {
   color: #e40038; /* RED */   
   margin: 1em 0 0.50em 0;
   font-weight: normal;
   }
h1 {
	color: green; /* RED */   
	margin: 1em 0 0.50em 0;
	font-weight: normal;	
}
   h3 {
	color: green; /* RED */   
	margin: 1em 0 0.50em 0;
	font-weight: normal;	
}
h1{ font-size: 150%;}
h2{ font-size: 140%;}
h3{ font-size: 130%;}
h4{ font-size: 120%;}
h5{ font-size: 110%;}
h6{ font-size: 100%;}

a,
a:hover,
a:active {
color: blue; /* RED */
font-size: 20px;
text-align: right;
}
#center {
text-align: center;
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
	position: relative;
	min-height: 100%;
}
body {
  /* Margin bottom by footer height*/
  margin-top: 60px;
  margin-bottom: 50px;
  /* background-image:url("../img/logo.jpeg"); */
  /* background-repeat: repeat-y; */
  /* opacity: 0.5; */
  /* filter: alpha(opacity=50); /* For IE8 and earlier */
  /*background-repeat: no-repeat; */
  
  
  
}
/* .footer{  */
       /* position: fixed;      */
       /* text-align: center;   */
	   /* font-size:100%;	    */
       /* bottom: 0px;  */
       /* width: 100%; */
/* } */
/* .maik_body { */
/* background: cyan; */
/* margin-top: 60px;	 */
/* margin-bottom: 50px; */
/* } */
.maik_status_message {
/*text-align: center;*/
text-shadow: 2px 2px 5px #e40038;
font-size: 150%;
}
.maik_logo {
text-align: center;
background-color: none;
}
/* img { */
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); /* For IE8 and earlier */ */
/* } */
.maik_tagline {
line-height: 200%;
font-size: 25px;
text-align: center;
color: #e40038;
}
.maik_heading {
line-height: 150%;
color: black;
text-shadow: active;
border: 2px inset red;
box-shadow: 10px 10px 5px #888888;
margin-left: 2px;
margin-right: 2px;
 text-shadow: 2px 2px #FAEBD7;

}
.maik_copyright_message {
text-align: center;
font-size: 75%;
color: gray;
}

.middle {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}
.maik_bgimg {
    /* Background image */
    /*background-image: url('../img/background-peak1.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: white;
    /* Add a font */
    /*font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
}
.maik_contact {
/*font-style: oblique;*/
 color: #e40038;
 font-size: 20px;
 text-align: left;
}
